<div class="row">
    <div class="col-sm-12">

        <h4>Nieuwe vangstregistratie</h4>

        <form novalidate class="form-horizontal" name="registration">
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="dateField" class="control-label">Datum vangst</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" id="dateField"
                               ng-model="FishRegistration.date" date-options="dateOptions"
                               is-open="opened" required>
                    <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="openCalendar($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="timeField" class="control-label">Tijdstip vangst</label>
                </div>
                <div class="col-sm-10">
                    <input type="time" class="form-control" id="timeField" ng-model="FishRegistration.time"
                           required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="fishCode" class="control-label">Uitzetcode</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fishCode"
                           ng-model="FishRegistration.fish_code" required>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2">
                    <label for="weight" class="control-label">Gewicht</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="weight"
                               ng-model="FishRegistration.fish_weight" integer min="0">
                        <span class="input-group-addon">gram</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="length" class="control-label">Lengte</label>
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="length"
                               ng-model="FishRegistration.fish_length" integer
                               min="0">
                        <span class="input-group-addon">cm</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="fishType" class="control-label">Soort karper</label>
                </div>
                <div class="col-sm-10">
                    <select id="fishType" class="form-control" ng-model="FishRegistration.fish_type_id"
                            ng-options="value.FishType.id as value.FishType.name for (key, value) in fishTypes"
                            required></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="pond" class="control-label">Vijver</label>
                </div>
                <div class="col-sm-10">
                    <select id="pond" class="form-control" ng-model="FishRegistration.pond_id"
                            ng-options="value.Pond.id as value.Pond.extended_description for (key, value) in ponds"
                            required></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="commentField" class="control-label">Opmerkingen</label>
                </div>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3"
                              placeholder="Hier kunt u eventuele opmerkingen invullen."
                              id="commentField" ng-model="FishRegistration.comment"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label for="photoUpload" class="control-label">Foto</label>
                </div>
                <div class="col-sm-10">
                    <input type="file" name="data[Photo][uploaded]" class="form-control" id="photoUpload" data-url="Photos/upload" multiple>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default" ng-click="cancel()">&lt; Terug</button>
                    <button type="button" class="btn btn-primary right" ng-click="saveRegistration()"
                            ng-disabled="form.$invalid">Wijzigingen opslaan
                    </button>
                </div>
            </div>
            <input type="hidden" name="data[Photo][fish_registration_id]" value="{{FishRegistration.id}}">
        </form>
    </div>
</div>

<script type="text/javascript">

    $('#photoUpload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
</script>